														<div  ng-controller="FacturaController">

<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
					<h4>Invoice</h4>
				</div> -->
				<div class="panel-body">
					<div class="clearfix">
			
					<div class="row">
						<div class="col-md-12">
							<h3 style="background: #85c744; padding: 5px 10px; color: #fff; text-transform: uppercase; border-radius: 1px; margin: 20px 0 20px; text-align:center">Factura </h3>
							<div class="pull-left">
							
    						</div>
							<div class="pull-right">
								<ul class="text-right list-unstyled">
									<li><strong>Fecha:</strong>  {{fechaFactura | date:'yyyy-MM-dd'}}</li>
								
								</ul>
							</div>
						</div>
					</div>
					
					<div class="row">
					
				<div class="container-fluid" >
 <div class="row">
     
        <label style="padding-left: 5px;">
            <input type="text" value="below30" ng-model="codigo1" /> Codigo 1
        </label>
        <label style="padding-left: 5px;">
            <input type="text" value="between30and50" ng-model="codigo2" /> Codigo 2
        <label style="padding-left: 5px;">
            <input type="text" value="above50" ng-model="codigo3" /> Codigo 3
        </label>
        <label style="padding-left: 5px;">
            <input type="text" value="above50" ng-model="articulo" /> Descripcion
        </label>
        <label style="padding-left: 5px;">
            <input type="button" value="Buscar"  ng-click="externalFilterChanged()"/>
        </label>
    </div>



        <div tabindex="0" ng-focus=pruebaFocusFactura() ag-grid="gridOptionsFactura" id="facturaGrid" class="ag-fresh" style="height: 400px;width: 50%;float: right;margin-top: 24px;"></div>
   

    <div tabindex="0" ng-focus=pruebaFocusProductos() ag-grid="gridOptionsProductos" id="productoGrid" class="ag-fresh" style="height:400px;width: 50%;"></div>
   
</div>
					</div>
					<panel panel-class="panel-midnightblue" heading="Datos">
		<panel-controls>
	       
		</panel-controls>
	 <label style="padding-left: 5px;">
            <input type="text" ng-keypress=onKeyCliente() ng-model="clienteSeleccionadoRazon" /> Eleccion Cliente
                        <textarea ng-model="descripcion" /> Descripcion
            
        </label>

					<div class="row">
						<div class="col-md-3 col-md-offset-9">
							<p class="text-right">Sub-total {{subTotal}}</p>
							
							
							<hr>
							<h3 class="text-right">$ 751.24</h3>
						</div>
					</div>
					
				</div>
				</div>
				<div class="panel-footer hidden-print">
					<div class="pull-right">
						<a class="btn btn-primary" ng-click=guardarFactura()>Guardar Factura</a>
					</div>
				</div>
			</div>

		</div>

	</div>
	
	
	
	

</div> <!-- container-fluid -->
</div> <!-- container-fluid -->
<script type="text/ng-template" id="modalTardanza.html">
    <div class="modal-header">
        <h3 class="modal-title">Muestra Tardanza Datos</h3>
    </div>
    <div class="modal-body">
    	Buscando registros..
    </div>
    <div class="modal-footer">
    </div>
</script>

<script type="text/ng-template" id="modalBuscadorCliente.html">
 <div class="row">
     
        <label style="padding-left: 5px;">
            <input type="text" value="below30" ng-model="codigoCliente" /> Codigo
        </label>
        <label style="padding-left: 5px;">
            <input type="text" value="between30and50" ng-model="razonSocial" /> Razon Social
    
            <input type="button" value="Buscar"  ng-click="busquedaCliente()"/>
        </label>
    </div>
    	    <div tabindex="2" ag-grid="gridOptionsCliente" class="ag-fresh" style="height:400px;width: 50%;"></div>

</script>
